<h1 class="text-2xl font-bold mb-4">Hotwire Chat</h1>

<%= turbo_frame_tag "new_message" do %>
  <%= render "form", message: @message %>
<% end %>

<%= turbo_frame_tag "messages", 
    data: { controller: "autoscroll" }, 
    class: "h-[300px] overflow-y-auto" do %>
  <% @messages.each do |message| %>
    <%= turbo_frame_tag dom_id(message) do %>
      <%= render message %>
    <% end %>
  <% end %>
<% end %>
